.left-1 {
    animation:left-1 2s;
    -moz-animation:left-1 2s; /* Firefox */
    -webkit-animation:left-1 2s; /* Safari and Chrome */
    -o-animation:left-1 2s; /* Opera */
}

.left-c {
    animation:left-c 2s;
    -moz-animation:left-c 2s; /* Firefox */
    -webkit-animation:left-c 2s; /* Safari and Chrome */
    -o-animation:left-c 2s; /* Opera */
    opacity: 1;
}

.right-c {
    animation:right-c 2s;
    -moz-animation:right-c 2s; /* Firefox */
    -webkit-animation:right-c 2s; /* Safari and Chrome */
    -o-animation:right-c 2s; /* Opera */
    opacity: 1;
}

.left-2 {
    animation:left-1 1s;
    -moz-animation:left-1 1s; /* Firefox */
    -webkit-animation:left-1 1s; /* Safari and Chrome */
    -o-animation:left-1 1s; /* Opera */
}

.right-1 {
    animation:right-1 1s;
    -moz-animation:right-1 1s; /* Firefox */
    -webkit-animation:right-1 1s; /* Safari and Chrome */
    -o-animation:right-1 1s; /* Opera */
}

.top-1 {
    animation:top-1 1s;
    -moz-animation:top-1 1s; /* Firefox */
    -webkit-animation:top-1 1s; /* Safari and Chrome */
    -o-animation:top-1 1s; /* Opera */
    opacity: 1;
}

.c-show {
    animation:c-show 2s;
    -moz-animation:c-show 2s; /* Firefox */
    -webkit-animation:c-show 2s; /* Safari and Chrome */
    -o-animation:c-show 2s; /* Opera */
    opacity: 1;
}

.service::after {
    animation:bottom-1 1.2s;
    -moz-animation:bottom-1 1.2s; /* Firefox */
    -webkit-animation:bottom-1 1.2s; /* Safari and Chrome */
    -o-animation:bottom-1 1.2s; /* Opera */
}

header.fixed {
    animation:header-a .5s;
    -moz-animation:header-a .5s; /* Firefox */
    -webkit-animation:header-a .5s; /* Safari and Chrome */
    -o-animation:header-a .5s; /* Opera */
}


@keyframes right-1
{
    0%{ left: -20%; opacity: 0; }  
    100% { left: 0%; opacity: 1; }
}

@-moz-keyframes right-1 /* Firefox */
{
    0% { left: -20%; opacity: 0; }      
    100% { left: 0%; opacity: 1; }
}

@-webkit-keyframes right-1 /* Safari and Chrome */
{
    0% { left: -20%; opacity: 0; }   
    100% { left: 0%; opacity: 1; }
}

@-o-keyframes right-1 /* Opera */
{
    0% { left: -20%; opacity: 0; }  
    100% { left: 0%; opacity: 1; }
}

@keyframes left-1
{
    0%{ margin-left: 20%; opacity: 0; }  
    100% { margin-left: 0%; opacity: 1; }
}

@-moz-keyframes left-1 /* Firefox */
{
    0% { margin-left: 20%; opacity: 0; }      
    100% { margin-left: 0%; opacity: 1; }
}

@-webkit-keyframes left-1 /* Safari and Chrome */
{
    0% { margin-left: 20%; opacity: 0; }   
    100% { margin-left: 0%; opacity: 1; }
}

@-o-keyframes left-1 /* Opera */
{
    0% { margin-left: 20%; opacity: 0; }  
    100% { margin-left: 0%; opacity: 1; }
}


@keyframes left-c
{
    0%{ margin-left: 30%; opacity: 0; }  
    100% { margin-left: 10%; opacity: 1; }
}

@-moz-keyframes left-c /* Firefox */
{
    0% { margin-left: 30%; opacity: 0; }      
    100% { margin-left: 10%; opacity: 1; }
}

@-webkit-keyframes left-c /* Safari and Chrome */
{
    0% { margin-left: 30%; opacity: 0; }   
    100% { margin-left: 10%; opacity: 1; }
}

@-o-keyframes left-c /* Opera */
{
    0% { margin-left: 30%; opacity: 0; }  
    100% { margin-left: 10%; opacity: 1; }
}

@keyframes right-c
{
    0%{ margin-left: -20%; opacity: 0; }  
    100% { margin-left: 10%; opacity: 1; }
}

@-moz-keyframes right-c /* Firefox */
{
    0% { margin-left: -20%; opacity: 0; }      
    100% { margin-left: 10%; opacity: 1; }
}

@-webkit-keyframes right-c /* Safari and Chrome */
{
    0% { margin-left: -20%; opacity: 0; }   
    100% { margin-left: 10%; opacity: 1; }
}

@-o-keyframes right-c /* Opera */
{
    0% { margin-left: -20%; opacity: 0; }  
    100% { margin-left: 10%; opacity: 1; }
}


@keyframes top-1
{
    0%{ margin-top: 5%; opacity: 0; }  
    100% { margin-top: 0%; opacity: 1; }
}

@-moz-keyframes top-1 /* Firefox */
{
    0% { margin-top: 5%; opacity: 0; }      
    100% { margin-top: 0%; opacity: 1; }
}

@-webkit-keyframes top-1 /* Safari and Chrome */
{
    0% { margin-top: 5%; opacity: 0; }   
    100% { margin-top: 0%; opacity: 1; }
}

@-o-keyframes top-1 /* Opera */
{
    0% { margin-top: 5%; opacity: 0; }  
    100% { margin-top: 0%; opacity: 1; }
}

@keyframes bottom-1
{
    0%{ margin-bottom: 5%;  } 
    50%{ margin-bottom: 5%;  }  
    100% { margin-bottom: 0%;  }
}

@-moz-keyframes bottom-1 /* Firefox */
{
    0%{ margin-bottom: 5%;  } 
    50% { margin-bottom: 5%;  }      
    100% { margin-bottom: 0%;  }
}

@-webkit-keyframes bottom-1 /* Safari and Chrome */
{
    0%{ margin-bottom: 5%;  } 
    50% { margin-bottom: 5%; }   
    100% { margin-bottom: 0%; }
}

@-o-keyframes bottom-1 /* Opera */
{
    0%{ margin-bottom: 5%;  } 
    50% { margin-bottom: 5%; }  
    100% { margin-bottom: 0%; }
}

@keyframes header-a
{
    0%{ margin-top: -65px;  } 
    100% { margin-top: 0%;  }
}

@-moz-keyframes header-a /* Firefox */
{
    0%{ margin-top: -65px;  } 
    100% { margin-top: 0%;  }
}

@-webkit-keyframes header-a /* Safari and Chrome */
{
    0%{ margin-top: -65px;  } 
    100% { margin-top: 0%;  }
}

@-o-keyframes header-a /* Opera */
{
    0%{ margin-top: -65px;  } 
    100% { margin-top: 0%;  }
}


@keyframes c-show
{
    0%{ margin-top: 30px; opacity: 0; }
    50%{ opacity: 1; }
    100% { margin-top: 0%; }
}

@-moz-keyframes c-show /* Firefox */
{
    0%{ margin-top: 30px; opacity: 0; }
    50%{ opacity: 1; }
    100% { margin-top: 0%; }
}

@-webkit-keyframes c-show /* Safari and Chrome */
{
    0%{ margin-top: 30px; opacity: 0; } 
    50%{ opacity: 1; }
    100% { margin-top: 0%; }
}

@-o-keyframes c-show /* Opera */
{
    0%{ margin-top: 30px; opacity: 0; } 
    50%{ opacity: 1; }
    100% { margin-top: 0%; }
}