/*  ------- ui popup -------  */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 15;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.popup.is-open-popup {
    display: block;
    display: none;
}

.popup .close-popup {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
}

.popup .pop-content {
    max-width: 90%;
    width: max-content;
    height: auto;
    min-height: 150px;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    overflow: hidden;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.45);
}

.popup .pop-content + .pop-content {
    min-width: 500px;
}

.popup .pop-content.is-open-cover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup .pop-content .close-popup {
    z-index: 4;
    width: 20px;
    height: 20px;
    min-width: auto;
    border-radius: 50%;
    background-color: #fff;
    border-top: solid 1px #03A9F4;
    border-left: solid 1px #FFC107;
    border-right: solid 1px #F44336;
    border-bottom: solid 1px #4CAF50;
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
    position: absolute;
    right: 15px;
    top: 9px;
    transition: .5s
}

.popup .pop-content .close-popup::after , .popup .pop-content .close-popup::before {
    content: "";
    height: 1px;
    position: absolute;
    left: 2px;
    width: 14px;
    margin-top: 0px;
    display: block;
    background: #000;
}
.popup .pop-content .close-popup::after {
    transform:rotate(45deg);
}
.popup .pop-content .close-popup::before {
    transform:rotate(-45deg);
}

.popup .pop-content .close-popup:hover {
    transform:rotate(180deg);
    transition: 1.5s;
    background-color: rgb(255, 255, 255 , .9) !important;
}

.popup .pop-content .close-popup:hover::after {
    transform:rotate(225deg);
    transition: .5s;
}

.popup .pop-content .close-popup:hover::before {
    transform:rotate(135deg);
    transition: .3s;
}

.popup .pop-content .title {
    position: relative;
    z-index: 1;
    background-color: #1880b8;
    color: #fff;
    padding: 10px 40px 10px 20px;
    font-size: 1.3em;
    border-bottom: solid 2px #e8e8e8;
    box-shadow: 0 -10px 40px 30px rgb(255, 255, 255);
}

.popup .pop-content .message {
    padding: 20px;
    min-height: 200px;
    max-height: 95vh;
    overflow: auto;
    position: relative;
}

.popup .pop-content .message img {
    max-height: 80vh;
    max-width: 100%;
}

.popup .pop-content .message span {
    display: none;
}

.popup .pop-content .popup-btns {
    padding: 10px 20px;
    border-top: solid 1px #e8e8e8;
    text-align:right;
    box-shadow: 0 20px 30px 30px #fff;
    position: relative;
}


.popup .pop-content {
    animation:top-2 .4s;
    -moz-animation:top-2 .4s; /* Firefox */
    -webkit-animation:top-2 .4s; /* Safari and Chrome */
    -o-animation:top-2 .4s; /* Opera */
}

.popup .pop-content + .pop-content {
    animation:bounce-1 .3s;
    -moz-animation:bounce-1 .3s; /* Firefox */
    -webkit-animation:bounce-1 .3s; /* Safari and Chrome */
    -o-animation:bounce-1 .3s; /* Opera */
    display: none;
}

.popup .pop-content + .pop-content.is-alert {
    animation:slide-1 .3s;
    -moz-animation:slide-1 .3s; /* Firefox */
    -webkit-animation:slide-1 .3s; /* Safari and Chrome */
    -o-animation:slide-1 .3s; /* Opera */
    min-width: 650px;
}

.pop-content.is-alert {
    
}

body .popup .pop-content.is-alert .message {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.pop-content.is-alert .popup-btns {
    text-align: center;
}

.popup .pop-content.is-alert , .popup .pop-content.is-confirm {
    display: block;
}

.popup .pop-content + .pop-content .message {
   min-height: 100px; 
}

@keyframes top-2
{
    0%{ transform:translate(-50% , -40%); opacity: 0; }  
    100% { transform:translate(-50% , -50%); opacity: 1; }
}
@keyframes bounce-1
{
    0%{ transform:translate(-50% , -30%); opacity: 0; } 
    25%{ transform:translate(-50% , -50%); opacity: .3; } 
    50%{ transform:translate(-50% , -51%); opacity: .5; } 
    75%{ transform:translate(-50% , -49%); opacity: .7; } 
    100% { transform:translate(-50% , -50%); opacity: 1; }
}
@keyframes slide-1
{
    0%{ transform:translate(-50% , -50%); opacity: 0; }
    70%{ transform:translate(-51% , -50%); }
    80%{ transform:translate(-49% , -50%); }
    90%{ transform:translate(-51% , -50%); }
    100% { transform:translate(-50% , -50%); opacity: 1; }
}