/* color-1 #0068b7  */
/* color-2 #fdd100  */

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    background: #F3F2ED;
    font-family: "微軟正黑體","SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial",sans-serif;
}

body , a {
    color: #4e4343;
    line-height: 1.4em;
}

.bc-b {
    background: #0068b7;
    color: #fff;
    text-shadow: 0 0 1px #0c2b44;
}

.bc-g {
    background: #009688;
    color: #fff;
    text-shadow: 0 0 1px #0c2b44;
}

.bc-c {
    background: #4e4343;
    color: #fff;
    text-shadow: 0 0 1px #0c2b44;
}

.bc-sky {
    background: #2296f3;
    color: #fff;
    text-shadow: 0 0 1px #0c2b44;
}

.tc-b {
    color: #0068b7;
}

.bc-y {
    background: #fdd100; 
    color: #fff;
    text-shadow: 0 0 1px #312b0b;
}

.tc-y {
    color: #fdd100;
}

header {
    height: 65px;
    width: 100%;
/*    box-shadow: -80vw 0 150px -150px #fff inset;*/
    position: absolute;
    top: 0;
    left: 0;
    background: #F3F2ED;
    color: #fff;
    border-bottom: solid 1px #ccc;
    z-index: 15;
    
}

header nav {
    float: right;
    display: flex;
    justify-content: flex-end;
}

header nav svg {
    margin-right: 5px;
}

header.fixed {
   position: fixed; 
/*    background: #0068b7;*/
    transition: .5s ease;
         -o-transition: .5s ease;
    -webkit-transition: .5s ease;
}

header div {
    float: left;
    background: #F3F2ED;
    padding: 0 30px;
    height: 64px;
    display: flex;
    position: relative;
    align-items: center;
}    

header div a {
    width: 100%;
    text-align: center;
    
}

header div a div {
    float: right;
    font-weight: bold;
    font-size: 1.15em;
    padding-left: 10px;
    display: inline-grid;
    height: 64px;
}

header div a div span {
    float: left;
}

header a img {
    height: 64px;
    padding: 15px 0;
    margin-right: 10px;
} 

main {
    width: 100%;
    float: left;
    margin-top: 65px;
}

main .banner {
    width: 100%;
    height: 38vw;
    background: url(/images/banner.jpg) 50% 75% no-repeat;
    background-size: cover;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

main .banner::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    box-shadow: 0 -100px 100px -80px rgba(0, 0, 0, 0.1) inset;
}

main .banner span {
    display: block;
    background: rgba(255, 255, 255, 0.8);
    padding: 3% 0;
    font-size: 1.2em;
    width: 64%;
    text-align: center;
    border-radius: 3px;
    text-shadow: 0 0 1px #fff;
    font-weight: bolder;
}

article {
    float: left;
    width: 100%;
}

.service {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    float: left;
    margin: 0;
    padding: 30px 0;
    line-height: 1em;
    position: relative;
    z-index: 5;
    border-top: solid 1px rgba(255, 255, 255, 0.4);
}

.service span {
    position: relative;
    z-index: 3;
}

.service::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 3vw solid transparent;
    border-top-color: #009688;
    position: absolute;
    bottom: -5.8vw;
    z-index: 0;
    left: 47vw;
}

.locate:nth-child(2) {
    z-index: 2;
}

.locate:nth-child(2)::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 3vw solid transparent;
    border-top-color: #F3F2ED;
    position: absolute;
    bottom: -5.8vw;
    z-index: 0;
    left: 47vw;
}

.locate {
    float: left;
    width: 100%;
    position: relative;
    min-height: 1px;
}

.box {
    float: left;
    width: 50%;
}

.box3 {
    float: left;
    width: 100%;
}

.title {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    padding: 40px;
    position: relative;
}

.icon {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    text-align: -webkit-center;
    bottom: -25px;
}

.title span {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.title span svg {
    color: #fff;    
}

.content {
    width: 80%;
    margin: 0 10%;
    padding: 100px 50px;
    text-align: center;
    float: left;
    opacity: 0;
}

.content span {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.content span svg {
    font-size: 6em;
    color: #333;
}

.title span img {
    width: 1.6em;
}

.title span svg.svg-inline--fa.fa-w-16 {
    font-size: 1.6em;
}

.title span svg.svg-inline--fa.fa-w-12 {
    font-size: 1.7em;
}

.title span svg.svg-inline--fa.fa-w-20 {
    font-size: 1.3em;
}

.title span svg.svg-inline--fa.fa-w-14 {
    font-size: 1.5em;
}

.content span.forRwdCon svg{
    font-size: 5em;
}

.content > div {
    width: 33.333%;
    float: left;
}

.content.contact {
    padding-top: 0;
}

.content.contact p {
    margin-top: 10px;
}

.contact span {
    text-align: center;
    display: initial;
    margin: 0;
}

.contact span + span {
    margin-left: 20px;
}

.content.case > div , .content.case > span {
    width: 18%;
    overflow: hidden;
    padding-bottom: 18%;
    height: 0;
    border-radius: 3px;
    border: solid 1px #ccc;
    margin: 1%;
    position: relative;
    background-color: #607D8B;
    float: left;
}

.content.case > span {
    background-color: #000;
}

.content.case > span iframe {
    width: 97%;
    transform: translate(-50%,-50%);
    margin: 50% 0 0 50%;
}

.content.case > span span {
    padding: 20px;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.28);
}

.content.case > span span a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 20px;
    bottom: 0;
    color: #fff;
    display: contents;
}

.content.case > div img {
    width: 150%;
    transform: translate(-50%,-50%);
    margin-left: 50%;
    margin-top: 50%;
}

.content.case > div span {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    box-shadow: 0 -36px 50px -50px inset;
    min-height: 25%;
    border-top: solid 1px #f9f9f9;
    font-size: 13px;
    line-height: 16px;
}

footer {
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    z-index: 5;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .year {
    padding: 0 5px;
}

@media only screen and (max-width: 980px) {
    .box {
        float: left;
        width: 100%;
    }
    .content > div {
        width: 100%;
        float: left;
    }
    
    .content.case > div , .content.case > span {
        width: 29%;
        padding-bottom: 29%;
        margin: 2%;
    }
    
}

@media only screen and (max-width: 800px) {
    
    header div {
        padding: 0 20px;
    }
    
    header div a div {
        padding-left: 0;
    }
    
    main .banner {
        width: 100%;
        height: 50vh;
    }
    
    .content.case > div , .content.case > span {
        width: 100%;
        padding-bottom: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    
    .popup .pop-content .close-popup {
        min-width: 0;
    }
    
    .contact span {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .contact span + span {
        margin-left: 0px;
    }

    .content.case > span iframe {
        width: 100%;
        height: 50vh;
    }
}

.error-404 {
    width: 100%;
    text-align: center;
    height: 100vh;
    margin-top: -130px;
    padding-top: 130px;
    position: relative;
}

.error-404::after {
    content: "";
    background-image: url(/images/banner.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.06;
    top: 65px;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;   
}

.error-404 > div {
    box-sizing: border-box;
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 50%;
    text-shadow: 0 0 7px #fff;
}

.error-404 > div div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: #4e4343;
    font-weight: bold;
}

.error-404 div img {
    width: 140px;
    margin: 0 30px;
        -webkit-filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.4));
}

.error-404 div span {
    display: block;
    width: 100%;
    padding-top: 40px;
    text-indent: 20px;
    letter-spacing: 20px;
}

@media only screen and (max-width: 400px) {
    
    header div {
        padding: 0;
    }
    
    header {
        padding: 0 10px;
    }
    
}